<?xml version="1.0" encoding="UTF-8"?>
<routes>
<route>
  <path>/</path>
  <dest>/home.php</dest>
  <argc>0</argc>
</route>
<route>
  <path>/page1</path>
  <dest>/page1.php</dest>
  <argc>0</argc>
</route>
<route>
  <path>/test</path>
  <dest>/page2.php</dest>
  <argc>1</argc>
</route>
<route>
  <path>/argpage</path>
  <dest>/page3.php</dest>
  <argc>3</argc>
</route>
<route>
  <path>/nested/path</path>
  <dest>/page4.php</dest>
  <argc>0</argc>
</route>
<route>
  <path>/path</path>
  <dest>/page5.php</dest>
  <argc>0</argc>
</route>
<route>
  <path>/nested</path>
  <dest>/page6.php</dest>
  <argc>0</argc>
</route>
<route>
  <path>/nested/path2</path>
  <dest>/page7.php</dest>
  <argc>0</argc>
</route>
<route>
  <path>/nested</path>
  <dest>/page8.php</dest>
  <argc>1</argc>
</route>
</routes>